# WARNING: in a live environment, change this to "live" instead of dev
SS_ENVIRONMENT_TYPE="dev"

# CMS
SS_DEFAULT_ADMIN_USERNAME="admin"
SS_DEFAULT_ADMIN_PASSWORD="password"

# Database
SS_DATABASE_SERVER="db"
SS_DATABASE_USERNAME="db"
SS_DATABASE_PASSWORD="db"
SS_DATABASE_NAME="db"
SS_DATABASE_CLASS="MySQLDatabase"
SS_DATABASE_PORT="3306"

# Vendor sync method
SS_VENDOR_METHOD="copy"

# Hosts / DNS
SS_HOST="https://graydojo.ddev.site"
SS_ALLOWED_HOSTS="localhost,graydojo.ddev.site"
MAILER_DSN="smtp://localhost:1025"

# Logging
SS_ERROR_LOG="silverstripe.log"

# ReCaptcha
RECAPTCHA_SITE_KEY="your_site_key"
RECAPTCHA_SECRET_KEY="your_secret_key"