.brand {
  display:flex;
  align-items:center;
  gap:12px;

  a:focus {
    border-radius: 75px;
    outline-offset: 2px;
    outline-color: var(--accent);
  }

  a:hover {
    img {
      transform: scale(0.9);
      transition: transform 0.2s ease;
      border: none;
    }
  }
}

.logo {
  height: 78px;

  &--footer {
    height: 32px;

    img {
      filter: invert(1);
    }
  }
}

.site-title {
  font-family: Cinzel, serif;
  font-weight: bold;
  font-size: 25px;
}