.light-grey-bg {
  background-color: #ececec !important;
}

.dark-grey-bg {
  background-color: var(--muted) !important;
}

.red-bg {
  color: #fff;
  background-color: #f83131;
}

.white-bg {
  background-color: #fff;
}
