.contact-form {
  width: 100%;

  &-wrapper {
    background-color: #fff;
    padding: var(--pad);
    display: flex;
    flex-wrap: wrap;

    .map {
      width: 100%;
    }
  }

  &__info {
    &-block {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;

      @media (min-width: 992px) {
        width: 50%;
        max-width: 50%;
      }
    }

    &-title {
      font-weight: 900;
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    &-content {
      line-height: 1.5rem;
    }

    &-list {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0.5rem;

        a {
          color: var(--accent) !important;
          text-underline-offset: 0.2rem;

          &:hover {
            text-decoration: none;
            font-style: italic;
          }

          &:focus {
            outline: 0.15rem solid var(--accent);
            outline-offset: 0.2rem;
            border-radius: 0.2rem;
            text-decoration: none;
          }
        }
      }

      .text {
        line-height: 1.5rem;
      }
    }
  }

  form fieldset {
    border: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;

    /* stylelint-disable-next-line selector-id-pattern */
    #Form_Form {
      &_Name,
      &_Email,
      &_Message {
        &:active,
        &:focus,
        &:focus-visible,
        &:hover {
          outline: 0.15rem solid var(--accent);
          outline-offset: 0.2rem;
        }
      }

      &_Name_Holder,
      &_Email_Holder {
        width: 100%;

        .middleColumn .text {
          padding: 0.5rem 1rem;
          font-size: 15px;
          line-height: 1.5;
          margin-top: 0.3rem;
        }

        @media (min-width: 768px) {
          width: 50%;
        }
      }

      &_Name_Holder .middleColumn .text {
        width: 100%;

        @media (min-width: 768px) {
          width: 95%;
        }
      }

      &_Email_Holder {
        margin-top: 0.5rem;

        @media (min-width: 768px) {
          margin-top: 0;
        }
      }

      &_Email_Holder .middleColumn .text {
        width: 100%;
      }

      &_Message_Holder {
        width: 100%;
        margin-top: 0.5rem;

        .middleColumn .textarea {
          width: 100%;
          margin-top: 0.3rem;
        }
      }

      .btn-toolbar {
        padding: var(--pad);
      }
    }
  }

  .form-label {
    font-weight: bold;
    margin-bottom: 0.2rem;
  }

  /* stylelint-disable-next-line selector-id-pattern */
  input#Form_Form_action_submit {
    display: inline-block;
    margin-bottom: 70px;
    border: 2px solid var(--accent);
    padding: 20px 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 0.3rem;
    color: var(--accent);
    background-color: #fff;

    &:hover {
      background-color: var(--accent);
      color: #fff;
      text-decoration: underline;
    }
  }

  &__message {
    width: 50%;
    border: 2px solid var(--accent);
    background-color: var(--bg);
    border-radius: 0.3rem;
    padding: 1rem;
  }

  @media (min-width: 992px) {
    width: 50%;
  }
}

.rc-anchor-pt {
  a {
    &:focus {
      outline: 1px solid black;
      outline-offset: 0.2rem;
      border-radius: 2px;
    }
  }
}

.rc-anchor-content {
  margin-top: 1rem;
}
