.image-block {
  padding: 0;
  flex-grow: 2;

  &--one-column {
    width: 100%;
  }

  &--two-column {
    width: 100%;
    max-width: 100%;
  }

  .col {
    contain: content;
    padding: 0;
    height: 100%;

    img {
      width: 100%;

      @media (min-width: 768px) {
        height: 100%;
      }
    }
  }
}
