.testimonials {
  &-wrapper {
    background-color: #fff;
    padding: 0 20px 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }
}

.testimonial {
  max-width: 100%;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;

  &-quotemark {
    height: 3.1rem;
    width: 3.1rem;
    top: 0.6rem;
    left: -0.6rem;
    position: relative;
    padding: 0.6rem;
    z-index: 100;
    background-color: var(--accent);
    filter: drop-shadow(2px 2px 1px var(--muted));
    margin-left: 0.6rem;
  }

  &-text {
    background-color: var(--bg);
    padding: 1rem;
    border-radius: 0.5rem;
    font-style: italic;
    filter: drop-shadow(2px 2px 1px var(--muted));
    line-height: 1.4;
  }

  &-name,
  &-location {
    width: 100%;
    text-align: right;
    margin-top: 0.5rem;
    padding-right: 0.5rem;
  }

  &-name {
    font-weight: bold;
  }

  &-location {
    color: var(--muted);
    font-size: 0.8rem;
  }

  @media (min-width: 768px) {
    max-width: 50%;
  }
}
