.text-block {
  padding: 0;
  flex-grow: 1;
  width: 100%;

  @media (min-width: 768px) {
    max-width: 33.3336%;
  }

  .col {
    height: 100%;

    h2 {
      font-size: 1.5rem;
    }

    .button {
      &:focus-within {
        outline: 2px solid black;
        outline-offset: 2px;
      }

      a:focus {
        outline: 0;
      }
    }
  }
}