.text-block {
  padding: 0;
  flex-grow: 1;
  width: 100%;

  .col {
    height: 100%;

    h2 {
      font-size: 1.5rem;
    }

    p {
      line-height: 1.5;
    }

    .button {
      border-radius: 5px;

      &:focus-within {
        outline: 2px solid black;
        outline-offset: 2px;
      }

      a:focus {
        outline: 0;
      }
    }
  }
}
