.contacts {
    padding-top: 9rem !important;
}

.facebook {
    margin-bottom: 1rem;
}

#EditableTextField_aaa01 {
    width: 50%;
    float: left;
    margin-bottom: 5px;
    padding: 0 5px 0 0;
    background: transparent;
    border: transparent;
}

#EditableTextField_981d4 {
    width: 50%;
    float: left;
    margin-bottom: 5px;
    padding: 0 0 0 0;
    background: transparent;
    border: transparent;
}

@media only screen and (max-width: 600px) {
    #EditableTextField_aaa01 {
        width: 100%;
        float: left;
        margin-bottom: 5px;
        padding: 0 0 0 0;
        background: transparent;
        border: transparent;
    }

    #EditableTextField_981d4 {
        width: 100%;
        float: left;
        margin-bottom: 5px;
        padding: 0 0 0 0;
        background: transparent;
        border: transparent;
    }
}

#EditableTextField_053bc {
    display: contents;
}

#UserForm_Form_10_EditableTextField_053bc {
    height: 175px;
    margin-bottom: 5px;
    width: 100%;

}

#UserForm_Form_10_action_process {
    margin-bottom: 70px;
    border: 2px solid #f83131;
    display: inline-block;
    padding: 20px 40px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 0;
    color: #fff;
    background-color: #f83131;
}

#UserForm_Form_10_action_process:hover {
    color: #f83131 !important;
    background-color: black;
    border: 2px solid #f83131;
}

#UserForm_Form_10_EditableTextField_c471b_Holder label {
    display: block;
}

#UserForm_Form_10_EditableTextField_c471b {
    color: #000;
}

.map iframe {
    width: 100%;
    min-height: 450px;
    display: block; /* Removes bottom gap */
}
